__pycache__/*
.DS_Store
.spyproject/*
notebook/*
scripts/__pycache__/*
scripts/quicklook/__pycache__/*
scripts/quicklook/stage/__pycache__/*
scripts/pfp/__pycache__/*
flgpkg/__pycache__/*
test/__pycache__/*
lib/PyUVS/__pycache__/*
lib/chaffin/__pycache__/*
lib/chaffin/quicklooks/__pycache__/*
products/*
pfptools/__pycache__/*
iuvtools/__pycache__/*
.ipynb_checkpoints/*
log/*
*.zip
